{{!-- PUT IN STUFF TO BE SHOVED INTO MAIN  --}}

<div class="container">
    <h1 style="text-align: center;">Eat The Burger</h1>
    <center><img src="https://www.pngkit.com/png/detail/225-2255737_bobs-burgers-bobs-burger-bob-transparent.png"
            alt="Burger" width="160" height="145"></center>
    <div class="row">
        <div class="col-sm-6">
            <ul class="burger-list">
                {{#each burgers}}
                {{#unless devourced}}
                {{!-- html to show up if the burgers haven't been devoured --}}
                {{!-- {{> cats/cat-block sleep=true}} --}}
                <li class="not-devoured">{{this.id}}. {{this.burger_name}}
                    <button class="btn btn-primary btn-sm devouredbutton" data-id={{this.id}} type="button">Devour
                        It!</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-sm-6">
            <h6>Devoured Burgers</h6>
            <ul class="devoured-burgers">
                {{#each burgers}}
                {{#if devourced}}
                <li id="eatenBurger"> {{this.id}}. {{this.burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>



    <div class="row justify-content-center">
        <div class="col justify-content-center">
            <form class="create-form" id="newBurger" style="justify-content: center;">
                <div class="form-group">
                    <input type="text" id="nb" name="burger_name">
                    <button type="submit" class="btn btn-primary" id="addButton">Add Burger</button>
                </div>
            </form>
        </div>
    </div>
</div>